.main_container {
    margin-top: 70px;
}
.txt {
    font-size: 16px;
}
.buttons_mainpage {
    padding-top: 50px;
}
.buttons_mainpage .left_btn {
    margin-right: 20px;
}
.car_operation_messagebox {
    margin-top: 20px;
}
footer {
    margin-top: 20px;
}
table tr:first-child th {
    background-color: #18bc9c;
    color: #fff;
}
.crud_table tr th:last-child {
    width: 125px;
}