.main_container {
    margin-top: 70px;
}
.car_left {
    margin-right: 100px;
}
.txt {
    font-size: 20px;
}
.buttons_mainpage {
    padding-top: 50px;
}
.buttons_mainpage .left_btn {
    margin-right: 20px;
}
.car_operation_messagebox {
    margin-top: 20px;
}
footer {
    margin-top: 20px;
}